<h1><%= identifier.capitalize %> Events Index</h1>
<div class="events-index col-md-12">
  <table class="table table-hover">
    <h3>All Events</h3>
    <% data.uniq.each do |event| %>
      <tr>
        <td><a href="/sources/<%= identifier %>/events/<%= event.name %>">
          <%= identifier %>/events/<%= event.name %>
        </a></td>
      </tr>
    <% end %>
  </table>
</div>
