<div class="row">
  <div class="col-md-12">
    <h1><%= identifier.capitalize %> </h1>
  </div>
  <div class="response-times col-md-12">
      <table class="table table-hover">
        <h3>Response Times</h3>
        <tr>
          <td>Average</td><td> <%= data[:average_response_time] %></td>
        </tr>
        <tr>
          <td>Maximum</td><td> <%= data[:max_response_time] %></td>
        </tr>
        <tr>
          <td>Minimum</td><td> <%= data[:min_response_time] %></td>
        </tr>
      </tr>
    </table>
  </div>

  <div class="request-types col-md-12">
    <table class="table table-hover">
      <h3>Most Frequent Request Type</h3>
      <% data[:most_frequent_request_type].each do |data| %>
        <tr>
          <td><%= data.first %></td>
          <td><%= data.last %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="http-verbs col-md-12">
    <table class="table table-hover">
      <h3>HTTP Verbs Used</h3>
      <% data[:all_http_verbs_used].each do |data| %>
        <tr>
          <td><%= data%></h4></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="urls col-md-12">
    <table class="table table-hover">
      <h3>All URLs from Most to Least Requested</h3>
      <% data[:all_urls_from_most_to_least].each do |data| %>
        <tr>
          <td><%= data.first.join("") %></h4></td>
          <td><%= data.last %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="browser-os col-md-12">
    <table class="table table-hover">
      <h3>Browser & OS Breakdown</h3>
      <tr>
        <td>Web Browser:</td><td> <%= data[:web_browser_breakdown].first %></td>
      </tr>
      <tr>
        <td>OS</td><td> <%= data[:os_breakdown].first %></td>
      </tr>
    </table>
  </div>

  <div class="resolution col-md-12">
    <table class="table table-hover">
      <h3>Resolution Breakdown</h3>
      <% data[:screen_resolutions].each do |resolution| %>
        <tr>
          <td><%= resolution.join(" x ") %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="other-sources col-md-12">
    <table class="table table-hover">
      <h3><%= "#{identifier}" %> URL Statistics</h3>
      <% data[:all_urls_from_most_to_least].each do |key, _value| %>
      <tr>
        <td><a href="/sources/<%= identifier %>/urls<%= key[1] %>" target="_blank"><%= "#{identifier}" %><%= "#{key[1]}" %></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
